fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
asyncpg            # Для асинхронного PostgreSQL
aioredis             # Асинхронный Redis
celery[redis]        # Celery + Redis
aiogram             # Telegram бот
python-jose[cryptography]  # JWT токены
passlib[bcrypt]      # Хеширование паролей